.gitignore.txt
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/tasks.json
Lab 3/.vscode/launch.json
Lab 3/.vscode/settings.json
Lab 3/.vscode/tasks.json
Lab 3/a.exe
Lab 4/.vscode/launch.json
Lab 4/.vscode/settings.json
Lab 4/.vscode/tasks.json
Lab 4/a.exe
Lab 5/4.exe
Lab 5/a.exe
Lab 5/.vscode/tasks.json
Lab 5/.vscode/settings.json
Lab 5/.vscode/launch.json
